/* styles.css */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url('images/panda.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'UndertaleFont', sans-serif;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, #ffffff, #000000);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    z-index: -1; /* Помещаем градиент под содержимое */
    opacity: 0.7; /* Уменьшаем прозрачность для видимости изображения */
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@font-face {
    font-family: 'UndertaleFont';
    src: url('fonts/UndertaleFont.ttf') format('truetype');
}

.content {
    background-color: rgba(255, 255, 255, 0.1); /* Прозрачный фон */
    border-radius: 10px;
    backdrop-filter: blur(10px); /* Эффект размытия */
    padding: 40px;
    width: 60%;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    color: white;
    position: relative;
    z-index: 1;
}

.content h1, .content p {
    animation: textColorChange 5s ease-in-out infinite alternate;
}

@keyframes textColorChange {
    0% { color: black; }
    100% { color: white; }
}
